aws_region       = "us-east-2"
environment      = "demo"
api_origin_domain = "desafio-votacao-demo-api-000000000.us-east-2.elb.amazonaws.com"

# PriceClass_All utiliza também pontos de presença no Brasil.
price_class = "PriceClass_All"